:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
.block-view{
  margin-top: 20px;
}
.legende-gagie{
  text-align: center;
  margin-top: 30px;
}

thead {
    background: #106cc8;
    color: #fff;
}

table{
  font-size: 12px;
}

.error-message{
  font-size: 14px;
  color: red;
  font-weight: bolder;
  padding-left: 25px;
}
