<div class="container col-md-12 col-lg-12 col-ms-12 col-xs-12">

      <div class="row">
          <legend class="legende-gagie">Espace d'enregistrement des membres de la Gagie</legend>
      </div>
      <div class="row">
        <div class="col-md-6 col-ms-6 col-xs-12 col-lg-6 block-view">
        <form class="form-inline">
          <div class="error-message">
            <div *ngIf="errorRetour" style="color:red">{{errorRetour}}</div>
          </div>
            <!--div class="form-group">
              <input type="text" [(ngModel)]="membre.nom" name="nom" placeholder="Nom du membre">
              <input type="text" [(ngModel)]="membre.prenoms" name="prenoms" placeholder="Prenoms du membre">
            </div><br><br-->
            <div class="form-group">
              <input type="text" [(ngModel)]="membre.userName" name="userName" placeholder="login">
              <input type="email" [(ngModel)]="membre.email" name="email" placeholder="email">
            </div><br><br>
            <div class="form-group">
              <!--input [(ngModel)]="membre.email" name="email" placeholder="Email"-->
              <!--button [disabled]="!membre.userName || membre.email || !membre.nom || !membre.prenoms" type="button" (click)="createMembre(membre)">Enregistrer</button-->
              <button type="button" (click)="createMembre(membre)">Enregistrer</button>
            </div>
        </form>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-12 col-lg-6">
        <!--ul>
          <li *ngFor="let name of names">{{ name }}</li>
        </ul-->

        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                    <tr>
                        <th>Nom utilisateur</th>
                        <th>Email</th>
                        <th>Date d'enregistrement</th>
                        <th class='table-action' style='width:170px !important'> <span translate="actions"></span> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" *ngFor="let item of listeMembres">
                        <td>{{item.userName}} </td>
                        <td>{{item.email}} </td>
                        <td>{{item.createdAt}}</td>
                        <td>
                            <div class="buttons" >
                                <button style="width:auto;height:25px"  title="Modifier le compte"
                                        class="btn btn-primary btn-xs editable-table-button btn-xs"
                                        (click)="modifier(item);">
                                  Modifier
                                </button>
                                 <button style="width:auto;height:25px" title="Supprimer le compte"
                                        class="btn btn-danger btn-xs editable-table-button btn-xs"
                                         (click)="delete(item)">
                                  Supprimez
                                </button>
                              </div>
                        </td>
                    </tr>
                    <tr *ngIf="listeMembres && listeMembres.length==0">
                        <td class="text-center" colspan="7" >Aucune donnée.</td>
                    </tr>
                </tbody>
            </table>
      </div>
      </div>
</div>
