:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
.block-view{
  margin-top: 20px;
}
.legende-gagie{
  text-align: center;
  /*margin-top: -30px;*/
}

thead {
    background: #106cc8;
    color: #fff;
}

table{
  font-size: 12px;
}

.form-container {
    /* padding: 25px; */
    /*padding-left: 65px;*/
    padding-top: 25px;
}

.connexion-side {
    height: 500px;
    padding: 10%;
}

.gagie-img img{
    width: 80%;
}
.gagie-img{
  padding: 5%;
}
