<div class="container col-md-12 col-lg-12 col-ms-12 col-xs-12">

      <div class="row" style="margin-top: -55px;">
          <h2 class="legende-gagie" style="color: #116cc8;">Bienvenue au GDG  <img src="/assets/svg/logo.jpg_256x256.png" style="height: 150px;"  alt="image gagie"></h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-ms-6 col-xs-12 col-lg-6 block-view">
          <div class="row gagie-img">
              <img src="/assets/svg/image-gagie.jpg" style="width: 80%;" alt="image gagie">
          </div>


      </div>
      <div class="col-md-6 col-ms-6 col-xs-12 col-lg-6">
        <div class="connexion-side">
            <form class="form-horizontal">
              <h3>Connectez-vous</h3>
                <div class="form-container">
                  <div class="form-group">
                      <input type="text" [(ngModel)]="user.userName" name="userName" placeholder="Login">
                  </div>
                  <div class="form-group">
                      <input type="password" [(ngModel)]="user.password" placeholder="mot de passe" name="password">
                  </div>

                  <div class="form-group">
                    <button type="button" (click)="login(user)">connexion</button>
                    <div *ngIf="errorRetour" style="color:red">{{errorRetour}}</div>
                  </div>
                </div>
            </form>
        </div>
      </div>
      </div>
</div>
